@media only screen and (max-width: 750px) {
    .hidden-xs {
        display: none;
    }

    .visible-xs {
        display: block;
    }

    .container > .row > .col-xs-1 {
        width: 8.333333%;
    }
    
    .container > .row > .col-xs-2 {
        width: 16.666666%;
    }
    
    .container > .row > .col-xs-3 {
        width: 24.999999%;
    }
    
    .container > .row > .col-xs-4 {
        width: 33.333333%;
    }
    
    .container > .row > .col-xs-5 {
        width: 41.666666%;
    }
    
    .container > .row > .col-xs-6 {
        width: 50%;
    }
    
    .container > .row > .col-xs-7 {
        width: 58.3333333%;
    }
    
    .container > .row > .col-xs-8 {
        width: 66.666666%;
    }
    
    .container > .row > .col-xs-9 {
        width: 74.999999%;
    }
    
    .container > .row > .col-xs-10 {
        width: 83.333333%;
    }
    
    .container > .row > .col-xs-11 {
        width: 91.666666%;
    }
    
    .container > .row > .col-xs-12 {
        width: 100%;
    }
    }